body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    /**Increasing the line height of your text can improve readability.*/
    line-height: 1.6em;
}

h1,
h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

p {
    color: maroon;
}

em {
    font-family: serif;
}

p.greentea {
    color: green;
}

p.raspberry {
    color: blue;
}

p.blueberry {
    color: purple;
}

#guarantee {
    /**no , between each rule*/
    border: white 1px dashed;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    line-height: 1.9em;
    font-style: italic;
    color: #444444;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: #a7cece url(images/background.gif) no-repeat top left;
}

#elixirs {
    /**any order*/
    border: thin solid #007e7e;
    width: 200px;
    /**clockwise*/
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    text-align: center;
    background: url(images/cocktail.gif) repeat-x;
    /**have a line-height
￼￼￼￼of 1 times its own font-size, rather than the font-size of the elixirs <div>.*/
    line-height: 1;
}

#elixirs h2 {
    color: black;
}

#elixirs h3 {
    color: #d12c47;
}

#copyright {
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}
