body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    /**Increasing the line height of your text can improve readability.*/
    line-height: 1.6em;
}

h1,
h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

p {
    color: maroon;
}

em {
    font-family: serif;
}

p.greentea {
    color: green;
}

p.raspberry {
    color: blue;
}

p.blueberry {
    color: purple;
}

.guarantee {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #a7cece;
    padding: 25px;
}
